body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f7fa;
}

h1{
    color:#0A2E8A;
    text-align:center;
    margin-top:100px;
}

p{
    text-align:center;
    font-size:22px;
    color:#444;
}
